<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mx-auto mb-5" style="max-width:750px;">
            <h1 class="display-1 maindisplay">Bestseller Products</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt, esse exercitationem tempore accusantium minus aliquid modi corporis sit nam odio corrupti dignissimos cumque molestiae, maiores consequatur. Eligendi aliquid recusandae consequuntur.</p>
        </div>
    <div class="row g-4">
      <div class="col-lg-6 col-xl-4" *ngFor="let x of products">
        <div class="p-4 rounded bg-light">
            <div class="row align-items-center">
                <div class="col-6">
                    <img [src]="x.productImageUrl" class="img-fluid rounded-circle w-100 h-100" alt="">
                </div>
                <div class="col-6">
                    <a href="#" >{{x.productName}}</a>  
                <div class="d-flex my-3">
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star"></i>
                </div>  
                  <h4 class="mb-3">{{x.productPrice}}</h4>
                  <a href="" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i>Add to cart</a>
                </div>
            </div>
        </div>
      </div>  
    </div>    
    </div>
</div>